
#inicialbody {
    background-image: linear-gradient(to right, #e26868 , #7392c1);
    color: white;
    font-size: 1vw;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


body{
    background-color: #e26868;
    color: white;
    font-size: 1vw;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

h1{
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: AndrewAndreas, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}

p{
    color: white;
    text-align: center;
    font-size: 2em;
}

#logo{
    width: 24%;
    height: 15%;
    margin-left: 37%;
    margin-top: 2%;
}

.logo-resto{
    width: 20%;
}

#botoes{
    text-align: center;
    border-style: none;
    height: 150px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.botao{
    background-color: white;
    border-radius: 20px;
    height: 110%;
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #e26868;
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vw;
}

.botao:hover{
    text-decoration: underline;
    cursor: pointer;
}

#mapa{
    float: left;
    margin-left: 20%;
    text-align: center;
    font-size: 2vw;
}

#bigForm{
    height: 79%;
    width: 30%;
    float: right;
    margin-right: 20%;
}

#formulario{
    float: right;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2vw;
}

.inputs{
    width: 90%;
    height: 10%;
    border-style: none;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 0px;
    padding: 5%;
}

.area-paciente{
    width: 54%;
    padding: 5%;
    height: 100 px;
    text-align: left;
    margin: 0px;
    height: 20%;
    float: right;
}

.titulo{
    margin-bottom: 0px;
}

#os3-primeiros{
    margin-bottom: 1%;
}

#ocorrencia{
    width: 98%;
    height: 100%;
    border-style: none;
    border-radius: 10px;
    margin-top: 1%;
    padding: 1%;
    margin-bottom: 5%;
}

#submiter{
    width: 100%;
    height: 20%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 2%;
    font-size: 1.7vw;
    float: right;
    text-align: center;
}

#submiter:hover{
    cursor: pointer;
    font-size: 2vw;
}

footer{
    margin-top: 2%;
    text-align: center;
    font-size: 01.1vw;
    margin-bottom: 0px;
    color: white;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: AndrewAndreas, Verdana, Geneva, Tahoma, sans-serif;
}

#loading{
    width: 5%;
    margin-left: 47.5%;
    text-align: center;
    background-color: none;
    margin-top: 1%;
}