body{
    background-color: #e26868;
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    margin-bottom: 50px;
}

#logo{
    width: 40%;
    height: 20%;
    margin-left: 30%;
}

#botoes{
    text-align: center;
    border-style: none;
    height: 83px;
}

.botao{
    background-color: white;
    border-radius: 10px;
    height: 83px;
    width: 200px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e26868;
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}

.botao:hover{
    background-color: white;
    border-radius: 10px;
    height: 83px;
    width: 200px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e26868;
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-decoration: underline;
    cursor: pointer;
}