{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <!--Aqui criamos um link para o documento que contém os estilos da página-->
	<link rel="stylesheet" type="text/css" href="{% static 'Estilos/estilos.css'%}">
	<link rel="icon" type="image/x-icon" href="{% static 'Imagens/thumbnail_ABREALAS_LOGO.png' %}">
        <!--Com essa tag meta o navegador entende que os caracteres são do UTF-8 e os acentos n bugam-->
        <meta charset="UTF-8">
        <!--Aqui o site funciona direito em celular tbm-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Abre Alas</title>
    </head>
    <body>
        <div class="titulo">
		<a href="{% url 'index.html'%}">
			<img class="logo-resto" src="{% static 'Imagens/thumbnail_ABREALAS_LOGO.png' %}" alt="Logo do Abre Alas">
		</a>
		<h1 class="area-paciente">Área do paciente</h1>
        </div>
        <p>
            Obrigado! Em poucos instantes nossa equipe analisará<br>
            a gravidade da ocorrência e conectará a rota de uma<br>
            ambulância em direção à sua localização!
        </p>
        <p>
            Não se preocupe, nosso sistema auxilia a chegada das<br>
            ambulâncias abrindo todos os semáforos no caminho!
        </p>
	<img id="loading" src="{% static 'Imagens/Preloader-Gif/Loading.gif' %}" alt="Gif de carregamento">
        <footer>
            www.abrealas.com.br
        </footer>
    </body>
</html>
